@model Lab.MVC.CadastroClientesEProdutos.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new {  id = Model.Documento }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Voltar p/ a Lista", "Listar", null, new { @class = "btn btn-info" })
</p>
