@model IEnumerable<Lab.MVC.CadastroClientesEProdutos.Models.Produto>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Produtos</h2>

<p>
    @Html.ActionLink("Adicionar Novo Produto", "Incluir", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <img src="@Url.Action("BuscarFoto", "Produtos", new { id = item.Id })" style="width:60px;" />
            </td>


            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.Id }, new { @class = "btn btn-success" }) 
                <!--@Html.ActionLink("Excluir", "Excluir", new { id = item.Id }, new { @class = "btn btn-danger" })-->

            </td>
        </tr>
    }

</table>
